datasets*/
medical_datasets/
training_results/
cam_img/
predict*/
jupyter/
GL_Test/
weights/

*.onnx
*.jpg
*.png
*.jpeg
*.tif
**/__pycache__

!images/gradio.png
!images/Image1 - 016.jpeg
!images/Image1 - 027.jpeg
!images/Image1 - 031.jpeg
!images/Image1 - 040.jpeg